.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .inline-shadow {
        display: inline-flex;
        border-radius: 40px;
        @include box-shadow(2);
    }

    .button-link {
        background-color: var(--color-third);
        color: var(--color-primary);
        display: flex;
        font-size: 85%;
        align-items: center;
        justify-content: center;
        @include unselectable;
        padding: 20px 25px 20px 25px;
        z-index: 10;
        transition: background-color 0.2s;
        cursor: pointer;
        @include ripple-init();

        &:hover {
            background-color: var(--color-third-hover);
        }

        &:focus {
            background-color: var(--color-third-focus);
        }
    }

    .left-round {
        border-radius: 40px 0px 0px 40px;
        padding: 20px 20px 20px 25px;
    }

    .right-round {
        border-radius: 0px 40px 40px 0px;
        padding: 20px 25px 20px 20px;
    }

    @media (prefers-reduced-motion) {
        .button-link {
            transition: background-color 0s;
        }
    }
}
