@use 'mixins';

.button-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;

    .button-link {
        color: color-mix(
            in srgb,
            rgba(var(--color-secondary), 1) 100%,
            transparent
        );
        display: flex;
        font-size: 0.85rem;
        align-items: center;
        justify-content: center;
        @include mixins.unselectable;
        border-radius: 18px;
        background-color: color-mix(
            in srgb,
            rgba(var(--color-primary), 1) 100%,
            transparent
        );
        box-sizing: border-box;
        padding: 18px 26px;
        z-index: 10;
        transition: background-color var(--interactive-transition-speed);
        cursor: pointer;

        &:focus {
            background-color: var(--color-secondary-focus);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-hover);
            }
        }
    }

    @media (prefers-reduced-motion) {
        .button-link {
            transition: background-color 0s;
        }
    }
}
