@use 'mixins';

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 100%;
    max-width: 95%;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;

    .card {
        max-width: 100%;
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid rgba(var(--color-primary), 0.4);

        border-radius: var(--radius-card);
        background-color: rgba(var(--color-secondary), 0.7);
        box-sizing: border-box;
        padding: 25px;

        color: rgba(var(--color-primary), 1);

        transition: background-color var(--interactive-transition-speed);

        &:focus {
            background-color: rgba(var(--color-secondary-focus), 1);
        }

        @media (hover: hover) {
            &:hover {
                background-color: rgba(var(--color-secondary-hover), 1);
            }
        }

        .info {
            text-align: left;
            @include mixins.unselectable;

            .name {
                font-size: 1.1rem;
            }

            .tag-container {
                display: flex;
                flex-wrap: wrap;
                gap: 14px;
                height: 100%;
                justify-content: left;
                align-items: stretch;
                font-size: 0.74rem;
                margin-top: 12px;

                .tag {
                    border-radius: var(--radius-tag);
                    background-color: transparent;
                    border: 1px solid rgba(var(--color-primary), 1);
                    color: rgba(var(--color-primary), 1);
                    padding: 6px 12px;
                }
            }
        }

        .description {
            font-size: 0.89rem;
            margin-top: 12px;
        }
    }

    @media (prefers-reduced-motion) {
        .card {
            transition: background-color 0s;
        }
    }
}
