.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 100%;
    max-width: 95%;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;

    .card {
        max-width: 500px;
        width: 100%;
        text-decoration: none;
        cursor: pointer;

        @include ripple-init();

        border-radius: var(--radius-card);
        border: 1px solid var(--color-primary);
        box-sizing: border-box;

        color: var(--color-primary);
        background-color: var(--color-secondary);

        transition: background-color 0.2s;

        &:focus {
            background-color: var(--color-secondary-focus);

            .thumb {
                -webkit-filter: brightness(var(--brightness-card-thumb-focus));
                filter: brightness(var(--brightness-card-thumb-focus));
            }
        }

        &:hover {
            background-color: var(--color-secondary-hover);

            .thumb {
                -webkit-filter: brightness(var(--brightness-card-thumb-hover));
                filter: brightness(var(--brightness-card-thumb-hover));
            }
        }

        .preview {
            border-radius: var(--radius-card) var(--radius-card) 0px 0px;
            padding: 28px 35px 0px 35px;
        }

        .info {
            text-align: left;
            padding: 28px 35px;
            @include unselectable;

            .name {
                font-size: 1.2rem;
                margin-bottom: 4px;
            }

            .desc {
                font-size: 0.8rem;
            }
        }

        .thumb {
            display: block;
            height: 80px;
            width: 100%;
            -webkit-filter: brightness(1);
            filter: brightness(1);
            transition: -webkit-filter 0.2s, filter 0.2s;
        }

        @media (prefers-reduced-motion) {
            .thumb {
                transition: -webkit-filter 0s, filter 0s;
            }
        }

        .gh-qrs {
            @include image-loader('projects/gh-qrs.svg', true);
            background-color: var(--color-primary);
        }

        .gh-uw {
            @include image-loader('projects/gh-uw.svg', true);
            background-color: var(--color-primary);
        }

        .gh-dcd {
            @include image-loader('projects/gh-dcd.svg');
        }

        .gh-msg {
            @include image-loader('projects/gh-msg.svg');
        }

        .gh-dhw {
            @include image-loader('projects/gh-dhw.svg');
        }

        .gh-eae {
            @include image-loader('projects/gh-eae.svg', true);
            background-color: var(--color-primary);
        }
    }

    @media (prefers-reduced-motion) {
        .card {
            transition: background-color 0s;
        }
    }

    .tag-container {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        font-size: 0.7rem;
        margin-top: 25px;

        .tag {
            padding: 10px 15px;
            border-radius: 10px;
            border: 1px solid var(--color-primary);
        }

        @media (prefers-reduced-motion) {
            .tag {
                transition: background-color 0s;
            }
        }
    }
}
