html {
    max-width: 100%;
    overflow: overlay;
    -webkit-text-size-adjust: 100%;
}

:root {
    accent-color: var(--color-accent);
}

body {
    margin: 0;
    font-family: var(--font-stack);
    color: rgba(var(--color-primary), 1);
    background-color: var(--color-secondary);
}

a {
    color: rgba(var(--color-primary), 1);
    text-decoration: none;
    border-bottom: 0;

    &:hover {
        color: rgba(var(--color-primary), 1);
    }
}

.clickable {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: rgba(var(--color-primary), 1);

    &:hover {
        color: #7f7f7f;
    }
}
