@use 'mixins';

dialog {
    padding: 25px;
    background-color: rgba(var(--color-secondary), 0.7);
    animation: showDialog var(--interactive-transition-speed) forwards;
    color: rgba(var(--color-primary), 1);
    width: 450px;
    max-width: 90%;
    box-sizing: border-box;
    border: 1px solid rgba(var(--color-primary), 0.1);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 20px rgba(var(--color-primary), 0.05),
        rgba(0, 0, 0, 0.2) 0px 4px 20px;

    .header {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 10px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .body {
        font-size: 0.9em;
        margin-bottom: 25px;
        color: rgba(var(--color-primary), 0.8);
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .close {
        color: rgba(var(--color-secondary), 1);
        border-radius: 18px;
        background-color: rgba(var(--color-primary), 1);
        box-sizing: border-box;
        padding: 18px 26px;
        font-family: var(--font-stack);
        font-size: 0.8em;
        font-weight: 700;
        transition: background-color var(--interactive-transition-speed);
        cursor: pointer;
        @include mixins.unselectable;
        width: 100%;
        display: inline-block;
        text-align: center;

        &:focus {
            background-color: var(--color-secondary-inverted-focus);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-inverted-hover);
            }
        }
    }

    &::backdrop {
        height: 120lvh;
        background-color: rgba(0, 0, 0, 0);
    }
}
