@use 'mixins';

dialog {
    padding: 25px;
    background-color: rgba(var(--color-secondary), 0.7);
    animation: showDialog var(--interactive-transition-speed) forwards;
    color: color-mix(in srgb, rgba(var(--color-primary), 1) 100%, transparent);
    width: 450px;
    max-width: 90%;
    box-sizing: border-box;
    border: 1px solid
        color-mix(in srgb, rgba(var(--color-primary), 0.4) 100%, transparent);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    .header {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .body {
        font-size: 0.9em;
        margin-bottom: 25px;
        color: color-mix(
            in srgb,
            rgba(var(--color-primary), 0.8) 100%,
            transparent
        );
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .close {
        color: color-mix(
            in srgb,
            rgba(var(--color-secondary), 1) 100%,
            transparent
        );
        border-radius: 18px;
        background-color: color-mix(
            in srgb,
            rgba(var(--color-primary), 1) 100%,
            transparent
        );
        box-sizing: border-box;
        padding: 18px 26px;
        font-family: var(--font-stack);
        font-size: 0.8em;
        transition: background-color var(--interactive-transition-speed);
        cursor: pointer;
        @include mixins.unselectable;
        width: 100%;
        display: inline-block;
        text-align: center;

        &:focus {
            background-color: var(--color-secondary-focus);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-hover);
            }
        }
    }

    &::backdrop {
        height: 120lvh;
        background-color: rgba(0, 0, 0, 0);
    }
}
