dialog {
    padding: 25px 35px;
    background-color: var(--color-secondary);
    animation: showDialog var(--interactive-transition-speed) forwards;
    color: color-mix(in srgb, var(--color-primary) 100%, transparent);
    width: 450px;
    max-width: 90%;
    box-sizing: border-box;
    border: 1px solid color-mix(in srgb, var(--color-primary) 100%, transparent);
    border-radius: 20px;
    .header {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .body {
        font-size: 0.85em;
        margin-bottom: 20px;
    }
    .close {
        color: color-mix(in srgb, var(--color-secondary) 100%, transparent);
        border-radius: 20px;
        background-color: color-mix(
            in srgb,
            var(--color-primary) 100%,
            transparent
        );
        box-sizing: border-box;
        padding: 20px 30px;
        font-family: var(--font-stack);
        font-size: 0.75em;
        transition: background-color var(--interactive-transition-speed);
        cursor: pointer;
        @include unselectable;
        float: right;

        &:focus {
            background-color: var(--color-secondary-focus);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-hover);
            }
        }
    }

    &::backdrop {
        animation: blurDialog var(--interactive-transition-speed) forwards;
        height: 120lvh;
    }

    @media (prefers-reduced-motion) {
        &,
        &::backdrop {
            animation: none;
        }
    }
}
