.fab-scroll {
    background-color: var(--color-third);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: calc(70px + env(safe-area-inset-bottom));
    right: 30px;
    border-radius: 70px;
    @include unselectable;
    z-index: 10;
    transition: background-color 0.2s, bottom 0.5s;
    cursor: pointer;
    @include ripple-init(true);

    &:hover {
        background-color: var(--color-third-hover);
    }

    &.hide {
        bottom: calc(-100px + env(safe-area-inset-bottom));
    }

    .fab-scroll-icon {
        @include image-loader('fab/up-arrow.svg', true);
        background-color: var(--color-primary);
        padding-top: 70px;
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    .fab-scroll {
        transition: background-color 0s, bottom 0s;
    }
}
