@font-face {
    font-family: 'Berkeley Mono Variable';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(fonts/BerkeleyMonoVariable-Regular.woff2) format('woff2');
}
