footer {
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    // Use !important to avoid using value for top -- [css-minimizer-webpack-plugin] bug
    padding-bottom: calc(30px + env(safe-area-inset-bottom)) !important;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    font-size: 90%;
}
