footer {
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    // Use !important to avoid using value for top -- [css-minimizer-webpack-plugin] bug
    padding-bottom: calc(50px + env(safe-area-inset-bottom)) !important;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.85rem;

    .heart {
        color: rgba(255, 94, 94, 1);
    }
}
