@use "mixins";

footer {
    width: 100%;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    // Use !important to avoid using value for top -- [css-minimizer-webpack-plugin] bug
    padding-bottom: calc(50px + env(safe-area-inset-bottom)) !important;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.85rem;
    color: rgba(var(--color-third), 1);

    a {
        color: rgba(var(--color-third), 1);

        @media (hover: hover) {
            &:hover {
                color: rgba(var(--color-primary), 1);
            }
        }
    }

    .content {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 40px;
        height: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;

        .label {
            display: inline-block;
            padding: 12px 16px;

            .heart {
                color: rgba(255, 94, 94, 1);
            }
        }

        .commit {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 6px;
            height: 100%;
            justify-content: space-between;
            padding: 12px 16px;
            border-radius: 6px;
            color: rgba(var(--color-third), 1);
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.1s;

            &:focus {
                background-color: rgba(var(--color-secondary-focus), 1);
            }

            @media (hover: hover) {
                &:hover {
                    background-color: rgba(var(--color-secondary-hover), 1);
                }
            }

            .git-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                justify-content: center;
                @include mixins.unselectable;
                width: 0.95rem;
                height: 0.95rem;
                box-sizing: border-box;
                align-self: center;

                .git-icon {
                    display: inline-block;
                    @include mixins.image-loader("footer/git.svg");
                    background-color: rgba(var(--color-third), 1);
                    height: 15px;
                    width: 100%;
                }
            }

            .commit-id {
                display: inline-block;
            }
        }
    }
}
