@use "mixins";

header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    max-width: var(--max-width-ui);
    width: 90%;
    box-sizing: border-box;
    background-color: rgba(var(--color-secondary), 0.4);
    backdrop-filter: blur(20px);
    @include mixins.unselectable;
    z-index: 11;
    transition: top 0.5s;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 50px;
    border: 1px solid rgba(var(--color-primary), 0.1);
    box-shadow:
        inset 0 0 20px rgba(var(--color-primary), 0.05),
        rgba(0, 0, 0, 0.2) 0px 4px 20px;

    &.hide {
        top: -100px;
    }

    .title {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        padding: 13px 18px;
        border-radius: 25px;
        height: 20px;
        background-color: rgba(var(--color-primary), 1);
        color: rgba(var(--color-secondary), 1);
        transition: background-color var(--interactive-transition-speed);
        cursor: pointer;

        &:focus {
            background-color: var(--color-secondary-inverted-focus);
            @media (hover: none) {
                outline: none;
            }
        }

        &:focus:not(:focus-visible) {
            outline: none;
            background-color: var(--color-secondary-inverted-focus);
        }
    }

    .hide {
        display: none !important;
    }

    .options {
        display: inline-flex;
        gap: 20px;

        .hide {
            display: none !important;
        }

        .button-link {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            justify-content: center;
            @include mixins.unselectable;
            width: var(--header-icon-size);
            height: var(--header-icon-size);
            border-radius: var(--header-icon-size);
            z-index: 10;
            background-color: rgba(var(--color-primary), 1);
            transition: background-color var(--interactive-transition-speed);
            cursor: pointer;

            &:focus {
                background-color: var(--color-secondary-inverted-focus);
                @media (hover: none) {
                    outline: none;
                }
            }

            &:focus:not(:focus-visible) {
                outline: none;
                background-color: var(--color-secondary-inverted-focus);
            }

            .blog-icon {
                @include mixins.image-loader("header/blog.svg");
                background-color: rgba(var(--color-secondary-inverted-icon), 1);
                height: var(--header-icon-size);
                width: 100%;
                border-radius: inherit;
            }
        }

        .theme-invert {
            background-color: rgba(var(--color-primary), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--header-icon-size);
            height: var(--header-icon-size);
            border-radius: var(--header-icon-size);
            @include mixins.unselectable;
            z-index: 10;
            transition: background-color var(--interactive-transition-speed);
            cursor: pointer;

            &:focus {
                background-color: var(--color-secondary-inverted-focus);
                @media (hover: none) {
                    outline: none;
                }
            }

            &:focus:not(:focus-visible) {
                outline: none;
                background-color: var(--color-secondary-inverted-focus);
            }

            .theme-invert-icon {
                @include mixins.image-loader("header/invert.svg");
                background-color: rgba(var(--color-secondary-inverted-icon), 1);
                height: var(--header-icon-size);
                width: 100%;
                border-radius: inherit;
            }
        }

        @media (prefers-reduced-motion) {
            .theme-invert {
                transition: background-color 0s;
            }
        }
    }

    @media (hover: hover) {
        .title {
            &:hover {
                background-color: var(--color-secondary-inverted-hover);
            }
        }
        .options {
            .button-link {
                &:hover {
                    background-color: var(--color-secondary-inverted-hover);
                }
            }
            .theme-invert {
                &:hover {
                    background-color: var(--color-secondary-inverted-hover);
                }
            }
        }
    }
}

@media (prefers-reduced-motion) {
    header {
        transition: background-color 0s;
    }
}
