header {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include unselectable;
    z-index: 11;
    transition: top 0.5s;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;

    &.hide {
        top: -100px;
    }

    .title {
        display: inline-block;
        font-size: 14px;
        padding: 13px 18px;
        border-radius: 25px;
        border: 1px solid var(--color-primary);
        transition: background-color 0.2s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary-hover);
        }

        &:focus {
            background-color: var(--color-secondary-focus);
        }
    }

    .hide {
        display: none !important;
    }

    .options {
        display: inline-flex;
        gap: 30px;

        .hide {
            display: none !important;
        }

        .button-link {
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            align-items: center;
            justify-content: center;
            @include unselectable;
            width: 44px;
            height: 44px;
            border-radius: 44px;
            z-index: 10;
            border: 1px solid var(--color-header-button-icon);
            box-sizing: border-box;
            transition: background-color 0.2s;
            cursor: pointer;
            @include ripple-init(true);

            &:focus {
                outline: dashed var(--color-header-button);
                @media (hover: none) {
                    outline: none;
                }
                background-color: var(--color-header-button-focus);
            }

            &:focus:not(:focus-visible) {
                outline: none;
                background-color: var(--color-header-button-focus);
            }

            &:hover {
                background-color: var(--color-header-button-hover);
            }

            .blog-icon {
                @include image-loader('header/blog.svg');
                background-color: var(--color-header-button-icon);
                padding-top: 42px;
                width: 100%;
            }
        }

        .theme-invert {
            border: 0;
            background-color: var(--color-header-invert-button);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 44px;
            @include unselectable;
            z-index: 10;
            transition: background-color 0.2s;
            cursor: pointer;
            @include ripple-init(true, true);

            &:focus {
                outline: dashed var(--color-header-invert-button);
                @media (hover: none) {
                    outline: none;
                }
                background-color: var(--color-header-invert-button-focus);
            }

            &:focus:not(:focus-visible) {
                outline: none;
                background-color: var(--color-header-invert-button-focus);
            }

            &:hover {
                background-color: var(--color-header-invert-button-hover);
            }

            .theme-invert-icon {
                @include image-loader('header/invert.svg');
                background-color: var(--color-header-invert-button-icon);
                padding-top: 44px;
                width: 100%;
            }
        }

        @media (prefers-reduced-motion) {
            .theme-invert {
                transition: background-color 0s;
            }
        }
    }
}

@media (prefers-reduced-motion) {
    header {
        transition: background-color 0s;
    }
}
