.init-blk {
    background-color: var(--color-secondary);
    max-width: 100%;
    height: 100lvh;
    min-height: 450px;
    display: flex;

    .splash-blk {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .splash-info {
            font-size: 1.3rem;
            text-align: center;
            animation: fade 1s;

            @import 'buttons';
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
