@use "sass:meta";
@use "mixins";

.init-blk {
    max-width: 100%;
    height: 100lvh;
    min-height: 500px;
    display: flex;

    .splash-blk {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .splash-info {
            font-size: 1.05rem;
            text-align: center;
            animation: revealInit 1s;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .picture {
                display: block;
                height: 150px;
                width: 150px;
                background-color: rgba(var(--color-primary), 1);
                border-radius: 40px;
                @include mixins.image-loader("main/picture.svg");
            }

            .about {
                font-weight: 700;
            }

            @include meta.load-css("buttons");

            .message {
                line-height: 2.5rem;

                .title {
                    font-size: 64px;
                }
            }
        }

        @media (prefers-reduced-motion) {
            .splash-info {
                animation: none;
            }
        }
    }
}
