.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    height: 100%;
    justify-content: center;
    align-items: stretch;

    .pill {
        border-radius: var(--radius-pill);
        color: var(--color-primary);
        background-color: var(--color-third);
        padding: 13px 23px;
        font-size: 80%;
        @include box-shadow(2);
    }
}
