@mixin content-area {
    text-align: left;
}

@mixin ripple-init($overridePosition: false, $invertRipple: false) {
    @if $overridePosition == false {
        position: relative;
    }

    will-change: transform;
    overflow: hidden;

    @media (pointer: none) {
        cursor: none;
    }

    @media (hover: none) {
        cursor: none;
    }

    @if $invertRipple == true {
        span.ripple {
            background-color: var(--color-ripple-inverted);
        }
    }
}

@mixin image-loader($file, $mask: false) {
    @if ($mask) {
        -webkit-mask-image: url(../img/#{$file});
        mask-image: url(../img/#{$file});
        mask-repeat: no-repeat;
    } @else {
        background-image: url(../img/#{$file});
        background-position: 50%;
        background-repeat: no-repeat;
    }
}

@mixin unselectable {
    -webkit-user-select: none;
    user-select: none;
}
