@mixin content-area {
    text-align: left;
}

@mixin image-loader($file) {
    mask-image: url(../img/#{$file});
    mask-repeat: no-repeat;
}

@mixin unselectable {
    -webkit-user-select: none;
    user-select: none;
}
