::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.03);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-thumb);
    border-radius: 20px;

    &:hover {
        background-color: var(--color-thumb-hover);
    }
}
