@use 'sass:meta';
section {
    padding: 40px 20px;

    .content-title {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .content-desc {
        text-align: center;
        margin-bottom: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        a {
            text-decoration: underline;
        }
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .content-info {
        text-align: left;

        .sub-title {
            text-align: center;
            font-size: 1.3rem;
            margin-top: 30px;
            margin-bottom: 15px;

            &:first-of-type {
                margin-top: unset;
            }
        }

        .sub-desc {
            text-align: center;
            font-size: 1rem;
            margin-top: 15px;
            margin-bottom: 30px;

            &:first-of-type {
                margin-top: unset;
            }
        }

        .content-info {
            height: 100%;
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.95rem;

            ul {
                line-height: 1.4rem;
            }
        }

        @include meta.load-css('cards');
    }
}
