* {
    // Theme - Noir Outline
    --color-primary-dark: rgba(255, 255, 255, 1);
    --color-secondary-dark: rgba(23, 24, 32, 1);
    --color-secondary-focus-dark: rgba(31, 32, 40, 1);
    --color-secondary-hover-dark: rgba(35, 36, 44, 1);
    --color-thumb-dark: rgba(80, 80, 80, 0.6);
    --color-thumb-hover-dark: rgba(80, 80, 80, 0.8);
    --color-accent-dark: rgba(98, 100, 211, 1);
    --color-ripple-dark: rgba(233, 230, 219, 0.4);
    --color-ripple-inverted-dark: var(--color-ripple-light);
    --brightness-card-thumb-focus-dark: 1.025;
    --brightness-card-thumb-hover-dark: 1.05;
    --color-header-button-dark: var(--color-secondary-dark);
    --color-header-button-focus-dark: var(--color-secondary-focus-dark);
    --color-header-button-hover-dark: var(--color-secondary-hover-dark);
    --color-header-button-icon-dark: var(--color-primary-dark);
    --color-header-invert-button-dark: var(--color-secondary-light);
    --color-header-invert-button-focus-dark: var(--color-secondary-focus-light);
    --color-header-invert-button-hover-dark: var(--color-secondary-hover-light);
    --color-header-invert-button-icon-dark: var(--color-primary-light);

    // Theme - Cappuccino Outline
    --color-primary-light: rgba(125, 94, 53, 1);
    --color-secondary-light: rgba(233, 230, 219, 1);
    --color-secondary-focus-light: rgba(229, 226, 215, 1);
    --color-secondary-hover-light: rgba(225, 222, 211, 1);
    --color-thumb-light: rgba(206, 199, 186, 1);
    --color-thumb-hover-light: var(--color-secondary-hover-light);
    --color-accent-light: rgba(98, 100, 211, 1);
    --color-ripple-light: rgba(23, 24, 32, 0.4);
    --color-ripple-inverted-light: var(--color-ripple-dark);
    --brightness-card-thumb-focus-light: 0.985;
    --brightness-card-thumb-hover-light: 0.95;
    --color-header-button-light: var(--color-secondary-light);
    --color-header-button-focus-light: var(--color-secondary-focus-light);
    --color-header-button-hover-light: var(--color-secondary-hover-light);
    --color-header-button-icon-light: var(--color-primary-light);
    --color-header-invert-button-light: var(--color-secondary-dark);
    --color-header-invert-button-focus-light: var(--color-secondary-focus-dark);
    --color-header-invert-button-hover-light: var(--color-secondary-hover-dark);
    --color-header-invert-button-icon-light: var(--color-primary-dark);

    transition: background-color 0.5s;
}

@media (prefers-reduced-motion) {
    * {
        transition: background-color 0s;
    }
}

:root {
    color-scheme: dark;

    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-secondary-focus: var(--color-secondary-focus-dark);
    --color-secondary-hover: var(--color-secondary-hover-dark);
    --color-thumb: var(--color-thumb-dark);
    --color-thumb-hover: var(--color-thumb-hover-dark);
    --color-accent: var(--color-accent-dark);
    --color-ripple: var(--color-ripple-dark);
    --color-ripple-inverted: var(--color-ripple-inverted-dark);
    --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-dark);
    --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-dark);
    --color-header-button: var(--color-header-button-dark);
    --color-header-button-focus: var(--color-header-button-focus-dark);
    --color-header-button-hover: var(--color-header-button-hover-dark);
    --color-header-button-icon: var(--color-header-button-icon-dark);
    --color-header-invert-button: var(--color-header-button-light);
    --color-header-invert-button-focus: var(--color-header-button-focus-light);
    --color-header-invert-button-hover: var(--color-header-button-hover-light);
    --color-header-invert-button-icon: var(--color-header-button-icon-light);

    --radius-pill: 10px;
    --radius-card: 30px;

    --font-stack: monospace, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --color-primary: var(--color-primary-light);
        --color-secondary: var(--color-secondary-light);
        --color-secondary-focus: var(--color-secondary-focus-light);
        --color-secondary-hover: var(--color-secondary-hover-light);
        --color-thumb: var(--color-thumb-light);
        --color-thumb-hover: var(--color-thumb-hover-light);
        --color-accent: var(--color-accent-light);
        --color-ripple: var(--color-ripple-light);
        --color-ripple-inverted: var(--color-ripple-inverted-light);
        --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-light);
        --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-light);
        --color-header-button: var(--color-header-button-light);
        --color-header-button-focus: var(--color-header-button-focus-light);
        --color-header-button-hover: var(--color-header-button-hover-light);
        --color-header-button-icon: var(--color-header-button-icon-light);
        --color-header-invert-button: var(--color-header-button-dark);
        --color-header-invert-button-focus: var(
            --color-header-button-focus-dark
        );
        --color-header-invert-button-hover: var(
            --color-header-button-hover-dark
        );
        --color-header-invert-button-icon: var(--color-header-button-icon-dark);
    }
}

[color-scheme='light'] {
    color-scheme: light;

    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-secondary-focus: var(--color-secondary-focus-light);
    --color-secondary-hover: var(--color-secondary-hover-light);
    --color-thumb: var(--color-thumb-light);
    --color-thumb-hover: var(--color-thumb-hover-light);
    --color-accent: var(--color-accent-light);
    --color-ripple: var(--color-ripple-light);
    --color-ripple-inverted: var(--color-ripple-inverted-light);
    --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-light);
    --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-light);
    --color-header-button: var(--color-header-button-light);
    --color-header-button-focus: var(--color-header-button-focus-light);
    --color-header-button-hover: var(--color-header-button-hover-light);
    --color-header-button-icon: var(--color-header-button-icon-light);
    --color-header-invert-button: var(--color-header-button-dark);
    --color-header-invert-button-focus: var(--color-header-button-focus-dark);
    --color-header-invert-button-hover: var(--color-header-button-hover-dark);
    --color-header-invert-button-icon: var(--color-header-button-icon-dark);
}

[color-scheme='dark'] {
    color-scheme: dark;

    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-secondary-focus: var(--color-secondary-focus-dark);
    --color-secondary-hover: var(--color-secondary-hover-dark);
    --color-thumb: var(--color-thumb-dark);
    --color-thumb-hover: var(--color-thumb-hover-dark);
    --color-accent: var(--color-accent-dark);
    --color-ripple: var(--color-ripple-dark);
    --color-ripple-inverted: var(--color-ripple-inverted-dark);
    --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-dark);
    --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-dark);
    --color-header-button: var(--color-header-button-dark);
    --color-header-button-focus: var(--color-header-button-focus-dark);
    --color-header-button-hover: var(--color-header-button-hover-dark);
    --color-header-button-icon: var(--color-header-button-icon-dark);
    --color-header-invert-button: var(--color-header-button-light);
    --color-header-invert-button-focus: var(--color-header-button-focus-light);
    --color-header-invert-button-hover: var(--color-header-button-hover-light);
    --color-header-invert-button-icon: var(--color-header-button-icon-light);
}
