* {
    transition: background-color 0.3s;
}

@media (prefers-reduced-motion) {
    * {
        transition: background-color 0.8s;
    }
}

@mixin theme_dark {
    color-scheme: dark;

    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-secondary-focus: var(--color-secondary-focus-dark);
    --color-secondary-hover: var(--color-secondary-hover-dark);
    --color-third: var(--color-third-dark);
    --color-thumb: var(--color-thumb-dark);
    --color-thumb-hover: var(--color-thumb-hover-dark);
    --color-accent: var(--color-accent-dark);
    --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-dark);
    --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-dark);
    --color-secondary-inverted: var(--color-secondary-inverted-dark);
    --color-secondary-inverted-focus: var(
        --color-secondary-inverted-focus-dark
    );
    --color-secondary-inverted-hover: var(
        --color-secondary-inverted-hover-dark
    );
    --color-secondary-inverted-icon: var(--color-secondary-inverted-icon-dark);
}

@mixin theme_light {
    color-scheme: light;

    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-secondary-focus: var(--color-secondary-focus-light);
    --color-secondary-hover: var(--color-secondary-hover-light);
    --color-third: var(--color-third-light);
    --color-thumb: var(--color-thumb-light);
    --color-thumb-hover: var(--color-thumb-hover-light);
    --color-accent: var(--color-accent-light);
    --brightness-card-thumb-focus: var(--brightness-card-thumb-focus-light);
    --brightness-card-thumb-hover: var(--brightness-card-thumb-hover-light);
    --color-secondary-inverted: var(--color-secondary-inverted-light);
    --color-secondary-inverted-focus: var(
        --color-secondary-inverted-focus-light
    );
    --color-secondary-inverted-hover: var(
        --color-secondary-inverted-hover-light
    );
    --color-secondary-inverted-icon: var(--color-secondary-inverted-icon-light);
}

:root {
    // Theme - Noir Fill
    --color-primary-dark: 240, 240, 240;
    --color-secondary-dark: 18, 20, 29;
    --color-secondary-focus-dark: 23, 25, 34;
    --color-secondary-hover-dark: 28, 30, 49;
    --color-third-dark: 220, 220, 220;
    --color-thumb-dark: rgba(80, 80, 80, 0.6);
    --color-thumb-hover-dark: rgba(80, 80, 80, 0.8);
    --color-accent-dark: 56, 255, 97;
    --brightness-card-thumb-focus-dark: 1.025;
    --brightness-card-thumb-hover-dark: 1.05;
    --color-secondary-inverted-dark: var(--color-secondary-light);
    --color-secondary-inverted-focus-dark: color-mix(
        in srgb,
        rgba(var(--color-secondary-light), 1) 90%,
        rgba(var(--color-secondary-dark), 1)
    );
    --color-secondary-inverted-hover-dark: color-mix(
        in srgb,
        rgba(var(--color-secondary-light), 1) 80%,
        rgba(var(--color-secondary-dark), 1)
    );
    --color-secondary-inverted-icon-dark: var(--color-primary-light);

    // Theme - Paper Fill
    --color-primary-light: 54, 56, 58;
    --color-secondary-light: 240, 240, 240;
    --color-secondary-focus-light: 235, 235, 235;
    --color-secondary-hover-light: 230, 230, 230;
    --color-third-light: 74, 76, 78;
    --color-thumb-light: rgba(200, 200, 200, 1);
    --color-thumb-hover-light: var(--color-secondary-hover-light);
    --color-accent-light: 105, 127, 255;
    --brightness-card-thumb-focus-light: 0.985;
    --brightness-card-thumb-hover-light: 0.95;
    --color-secondary-inverted-light: var(--color-secondary-dark);
    --color-secondary-inverted-focus-light: color-mix(
        in srgb,
        rgba(var(--color-secondary-dark), 1) 90%,
        rgba(var(--color-secondary-light), 1)
    );
    --color-secondary-inverted-hover-light: color-mix(
        in srgb,
        rgba(var(--color-secondary-dark), 1) 80%,
        rgba(var(--color-secondary-light), 1)
    );
    --color-secondary-inverted-icon-light: var(--color-primary-dark);

    // End of theme

    @include theme_dark;

    --radius-card: 10px;
    --radius-tag: 8px;

    --max-width-ui: 900px;

    --header-icon-size: 46px;

    --interactive-transition-speed: 0.2s;

    --font-stack: 'Roboto Mono', monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        @include theme_light;
    }
}

[color-scheme='light'] {
    @include theme_light;
}

[color-scheme='dark'] {
    @include theme_dark;
}
